body { 
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#person0 {
    border: black solid 1px;
    padding: 10px;
}

#person1 {
    border: black solid 1px;
    padding: 10px;
}

#person2 {
    border: black solid 1px;
    padding: 10px;
}

#person3 {
    border: black solid 1px;
    padding: 10px;
}
